#Questão 1

In [8]:
import datetime

In [9]:
date = datetime.date.today()
print(date)

2022-11-02

In [23]:
dtesp = datetime.date(2022,11,5)
print(dtesp)

2022-11-05

In [24]:
day = data.day
print(day)

2

In [25]:
month = data.month
print(month)

11

In [26]:
year = data.year
print(year)

2022

In [31]:
hour = datetime.datetime.now()
print(hour.hour)

11

In [32]:
hour = datetime.datetime.now()
print(hour.minute)

51

In [33]:
hour = datetime.datetime.now()
print(hour.second)

13

In [53]:
date = datetime.date.today()
date_new = date.replace(year=2019)
print(date_new)
print(date)

2019-11-02
2022-11-02

#Questão 2

In [ ]:
#O map() serve para aplicar uma função a cada item em um iterável 
#(como uma lista ou um dicionário ) e retornar um novo iterador para recuperar os resultados.

In [60]:
#Ex:
precos = [30, 20, 30, 50]
def adicionar_imposto(preco):
 return preco * 3
precos_com_imposto = []
for preco in precos:
 precos_com_imposto.append(adicionar_imposto(preco))
print(precos_com_imposto)
precos_com_imposto2 = map(adicionar_imposto, precos)
print(precos_com_imposto2)
precos_com_imposto2 = list(map(adicionar_imposto, precos))
print(precos_com_imposto2)

[90, 60, 90, 150]
<map object at 0x000001BBE05CD8A0>
[90, 60, 90, 150]

#Questão 3

In [ ]:
#A função reduce serve pra "reduzir" um iterável (como uma lista) a um único valor. 
#É um paradigma um pouco mais comum em linguagens funcionais, 
#mas que também é bastante útil em linguagens imperativas/orientadas a objetos como o Python.

In [68]:
from functools import reduce

In [71]:
#Ex:
lista = [4, 3, 2, 5]

def mult(x, y):
    return x * y

produto_total = reduce(mult, lista)
print(produto_total)

120

#Questão 4

In [ ]:
#A função integrada filter() do Python pode ser usada para criar um novo iterador 
#a partir de um iterável existente (como uma lista ou um dicionário) 
#que irá filtrar de forma eficiente os elementos usando uma função que fornecemos.

In [72]:
aquarium_creatures = [
  {"name": "sammy", "species": "shark", "tank number": "11", "type": "fish"},
  {"name": "ashley", "species": "crab", "tank number": "25", "type": "shellfish"},
  {"name": "jo", "species": "guppy", "tank number": "18", "type": "fish"},
  {"name": "jackie", "species": "lobster", "tank number": "21", "type": "shellfish"},
  {"name": "charlie", "species": "clownfish", "tank number": "12", "type": "fish"},
  {"name": "olly", "species": "green turtle", "tank number": "34", "type": "turtle"}
]

In [78]:
def filter_set(aquarium_creatures, search_string):
	def iterator_func(x):
		for v in x.values():
			if search_string in v:
				return True
		return False
	return filter(iterator_func, aquarium_creatures)

In [83]:
filtered_records = filter_set(aquarium_creatures, "4")

In [84]:
print(list(filtered_records))

[{'name': 'olly', 'species': 'green turtle', 'tank number': '34', 'type': 'turtle'}]

#Questão 5

In [ ]:
#Esta função retorna uma lista de tuplas, 
#onde a i-ésima tupla contém o i-ésimo elemento de cada um dos argumentos.

In [128]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

In [129]:
for i in zip (l1 , l2):
    print(i)

(1, 4)
(2, 5)
(3, 6)

#Questão 6

In [ ]:
#Essa função pode receber como entrada uma lista e 
#irá retornar um objeto do tipo enumerate, que poderá ser percorrido pelo for

In [149]:
l = ['Buenos dias', 'desayuno', 'welcome', 'gracias']
for i, desayuno in enumerate(l):
  print(i, desayuno)

0 Buenos dias
1 desayuno
2 welcome
3 gracias

#Questão 7

In [ ]:
#List Comprehensions são maneiras de criar e manipular listas dentro do python de forma mais curta em apenas 1 linha. 
#Geralmente é utilizado para realizar operações simples dentro de uma lista (array).

In [154]:
tabuada = [i*2 for i in range(0,10)]
print(tabuada)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]