# Pandas

In [ ]:
A biblioteca pandas prepara/organiza os dados 
Este processo é chamado também de Data Muning
Tem uma boa integração com o Numpy

Dois conceitos principais:
    
- Series
- DataFrames

Site oficial

In [1]:
#importando a biblioteca Pandas
import pandas as pd

# Series

In [ ]:
Series são Arrays unidimensionais que contém uma lista de dados e outra lista de índices.

In [3]:
#Criação de Series com geração automática de índices
series_1 = pd.Series([14, 10, 4, 1])
print(series_1)

0    14
1    10
2     4
3     1
dtype: int64

In [4]:
#Criação de Series definindo os índices
series_2 = pd.Series([14, 10, 4, 1], index=['a', 'b', 'c', 'd'])
print(series_1)

0    14
1    10
2     4
3     1
dtype: int64

In [6]:
#retorna apenas os valores da Series
print(series_2.values)

[14 10  4  1]

In [7]:
#retorna apenas os índices da Series
print(series_2.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
#retorna o valor correspondente ao índice 'b'
print(series_2['b'])

10

In [10]:
#Retorna uma Series contando apenas os valores superiores a 5 
print(series_2[series_2>5])

a    14
b    10
dtype: int64

In [15]:
#Criando uma Series através de dicionário
dicionario_1 = {'a':14, 'b':10, 'c':4, 'd':1}
series_3 = pd.Series(dicionario_1)
print(series_3)

a    14
b    10
c     4
d     1
dtype: int64

In [16]:
#alteração do series_3 para um novo Series com um índice a mais
#neste caso, não possui valor correspondente a este índice (NaN - Not a Number)
series_4 = pd.Series(series_3, index=['a', 'b', 'c', 'd', 'e'])
print(series_4)

a    14.0
b    10.0
c     4.0
d     1.0
e     NaN
dtype: float64

In [17]:
#verifica quais posições possuem nulos (NaN) - retornando True neste caso
print(pd.isnull(series_4))

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [19]:
#verifica quais posições possuem não nulos - retornando True neste caso
print(pd.notnull(series_4))

a     True
b     True
c     True
d     True
e    False
dtype: bool

In [20]:
#nomeando uma series
series_4.name = 'Aula'
print(series_4)

a    14.0
b    10.0
c     4.0
d     1.0
e     NaN
Name: Aula, dtype: float64

# Dataframe

- Estrutura semelhante a uma planilha do Excel
- Possui colunas e linhas

In [23]:
dicionario_2 = {
    'Dias': ['Segunda', 'Terça', 'Quarta'],
    '7h' : ['POO', 'BD', 'Algoritmos'],
    '8h' : ['Análises', 'Back End', 'Front-End']
}

In [30]:
dataframe_1 = pd.DataFrame(dicionario_2)
print(dataframe_1)

      Dias          7h         8h
0  Segunda         POO   Análises
1    Terça          BD   Back End
2   Quarta  Algoritmos  Front-End

In [29]:
valores = [
    ['Segunda', 'Terça', 'Quarta'],
    ['POO', 'BD', 'Algoritmos'],
    ['Análises', 'Back End', 'Front-End']
]

colunas = ['Dias', '7h', '8h']

indices = ['a', 'b', 'c']

dataframe_2 = pd.DataFrame(valores, colums=colunas, index=indices)
print(dataframe_2)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'colums'